@tailwind base;
@tailwind components;
@tailwind utilities;

/* цвет текста при изменении темы */
.text--colors_default {
  @apply text-slate-900 dark:text-white;
}

.text--colors_primary {
  @apply text-blue-500 dark:text-blue-300;
}

/** цвет фона при изменении темы **/
.bg--default {
  @apply bg-white dark:bg-slate-900;
}

.flex-cente {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}